.ma-container {
  padding-top: 20px;
}

.ma-companies {
  padding: 10px;
  &__title {
    margin: 0 auto;
    font-size: 20px;
    text-align: left;
    background: #eee;
    font-weight: 400;
    padding: 5px 15px;
  }
  &__total,
  &__list,
  &__partners,
  &__location,
  &__news {
    border: 1px solid #eee;
    border-radius: 5px;
    height: 300px;
  }
/*  &__list {
    overflow: hidden;
  }*/
  &__total-info {
    display: none;
    width: 150px;
    height: 150px;
    padding-top: 55px;
    border:1px solid #000;
    border-radius: 50%;
    margin: 50px auto;
    text-align: center;
    font-size:24px;
  }
  &__list-info {
    display: none;
    height: 245px;
    list-style: none;
    border:1px solid #000;
    margin: 10px;
    text-align: left;
    font-size:18px;
    overflow: auto;
  }
  &__list-item {
    border:1px solid #000;
    padding: 5px;
    &:hover {
      background: #eee;
      cursor: pointer;
    }
  }
}

.ma-companies__partners {
  display: none;
}

#loader-total,
#loader-list {
  margin: 50px  200px;
}